.area_total_formulario{
    background: #F2F2F2;
    display: flex;
    margin-top:30px;
}
.area_formulario, form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:0px 16px 16px 16px ;
}
.input{
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 22px;
    height: 48px;
    color: #585858;
    font-size: 12px;
    line-height: 14px;
    padding:17px;
}
.receber_novidades{
    width: 100%;
    height: 48px;
    background: #000;
    margin-top:7px;
    border-radius: 5px;
    color:#fff
    
}
.receber_novidades h4{
    font-size: 14px;
    padding:17px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

