.menu_superior_mobile{
    display: flex;
    justify-content: space-between;
  margin-bottom: 15.5px;
  
    
}
.User, .user_login{
    visibility: hidden;
}
.menu_mobile{
    display: flex;
    flex-direction: column;  
}

.menu_mobile span{
    width: 22.5px;
    height: 2.5px;
    left: 20px;
    top: 21.26px;
    background: #000;
    margin-top:3.75px;
}
.logo{
    width: 102.46px;
    height: 25px;
}
.pesquisar {
    position: relative;  
    display: flex;
    border-bottom:1px solid #7A7A7A; 
    margin-bottom: 11.58px;
    padding-bottom: 4px;
}
.pequisar img{
    position: absolute;
    right: 0;
    margin-bottom: 4px;
}
.pesquisar input{
    width: 100%;
   
}
@media (min-width: 788px) {
    .menu_desktop{
        padding:16px 8px 0px 8px;
        max-width: 1037px;
        margin-right:auto;
    margin-left:auto;
    display: flex;
    position: relative; 
    padding-top: auto;
        padding-bottom: auto;
    }
    
    .menu_mobile{
        display: none;
    }
   .pesquisar{
    margin-right:auto;
    margin-left:auto;
    width: 768px;
    
   }
   .User img{
    visibility: hidden;
    width: 18px;
    height: 18px;
    
   }
    .carrinho{
        position: absolute;
        right: 0;
        
    }
}