.banner{
    background-image: url(../../images/banner.png);
    height:191.2px;
    background-repeat:no-repeat;
    background-size: 100vw;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
    position: relative;
}
.fundo_banner h3{
    padding-top:32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
   padding-left: 20px;
}
.fundo_banner h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 30.3px;  
    padding-left: 20px;
}

@media (min-width: 1180px) {
    .banner{
        height: 430px;  
        background-image: url(../../images/banner_desktop.png);
        
        background-position: right;
        background-color:rgba(0, 0, 0, 0.00);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .fundo_banner{
        display: block;
        background-image: url(../../images/fundo_banner.png);
        background-size: contain;
        height:100%;
        width:55%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .banner h3{
        font-family: Nunito;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        padding-left:40%;
        color: #FFFFFF;
        align-items: center;
        padding-top:154px ;
       
    }
    .banner h2{
        font-family: Nunito;
        font-weight: 900;
        font-size: 45px;
        line-height: 45px;
        padding-left:40%;
    }
    .text_Banner{
        max-width:970px;
        margin: 0;
    }
}