.banner{
    background-image: url(../../images/banner.png);
    height:191.2px;
    background-repeat:no-repeat;
    background-size: 100vw;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
}
.banner h3{
    padding-top:32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.banner h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 30.3px;
}
@media (min-width: 768px) {
    .banner{
        height: 430px;
        
    }
    .banner h3{
        font-family: Nunito;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        padding-left:10%;
        color: #FFFFFF;
        align-items: center;
        padding-top:154px ;
    }
    .banner h2{
        font-family: Nunito;
        font-weight: 900;
        font-size: 45px;
        line-height: 45px;
        padding-left:10%;
        max-width:550px ;
    }
}